<div id="wrapper" class="toggled">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
         Exercises
      </li>
      <li>
        <div class="exercise-element" (click)="selectExercise('Bench press')">Bench press</div>
      </li>
      <li>
        <div class="exercise-element" (click)="selectExercise('OHP')">Over head press</div>
      </li>
      <li>
        <div class="exercise-element" (click)="selectExercise('Squat')">Squat</div>
      </li>
      <li>
        <div class="exercise-element" (click)="selectExercise('Deadlift')">Deadlift</div>
      </li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid chart">
      <app-progress-chart></app-progress-chart>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>

