<div class="jumbotron" style="background-color: #fff; height: calc(95vh);">
  <h1>Your account</h1>
  <p class="lead">
    id: {{ this.appService.fakeUser.id}} <br>
    name:{{ this.appService.fakeUser.name}} <br>
    surname: {{ this.appService.fakeUser.surname}} <br>
    email: {{ this.appService.fakeUser.email}} <br>
    login: {{ this.appService.fakeUser.login}} <br>
    password: {{ this.appService.fakeUser.password}} <br>
    dateOfBirthday: {{ this.appService.fakeUser.dateOfBirthday}} <br>
    sex: {{ this.appService.fakeUser.sex}} <br>
  </p>
  <a class="btn btn-lg btn-primary" href="" role="button">View tutorial</a>
</div>
